.marq-box img{
    width: 100px;
    aspect-ratio: 1;
    padding: -20px;
}

.marq-box{
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1{
    margin-top: 50px;
}